/* pop */
.pop_box {
  width: 400px;
  height: 400px;
  background: url(../imges/pop_bg.png) no-repeat center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pop_box span {
  display: block;
  font-size: 18px;
}

.button_ma img {
  transform: rotate(45deg);
  display: block;
}

.pop_bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.button_ma {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #be3455;
  border: 1px solid #be3455;
  border-radius: 5px;
  padding: 9px;
  margin-top: 5%;
  background: transparent;
}

.button_ma img {
  display: block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

/* main section swiper1 */
.main_section {
  position: relative;
  width: 100%;
  background: url(../imges/p_imges/desktop_mv_01.jpg) no-repeat 60% 50% / cover;
}

.main_text {
  position: absolute;
  left: 19.8%;
  top: 30%;
  /* top: 29.38%; */
  width: 20%;
  min-width: 250px;
}
.main_text2 {
  display: none;
}

.main_text img {
  width: 100%;
}

.main_text li:nth-child(2) {
  margin: 2% 0;
}

/* main section2 swiper2 */
.main_section2 {
  background: url(../imges/p_imges/main_sect2_bg.jpg) no-repeat center center /
    cover;
}

.info {
  width: 100%;
  max-width: 600px;
  margin-top: 80px;
}

.main_section2 .theam {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-indent: -9999999999999px;
}

.miSwiper {
  width: 100%;
}

.info_box .swiper-slide {
  background: none;
  width: 50%;
}

.info_box .swiper-slide img {
  width: 50%;
  display: block;
}

:root {
  --swiper-theme-color: #fff;
}

.pagination2 {
  position: static;
  margin-top: 5%;
}

.pagination2 span {
  background: white;
  opacity: 0.6;
}

/* main_section3 */
.main_section3 {
  align-items: start;
  padding-top: 80px;
}

.section_container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sec-tit {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  cursor: pointer;
}

.sec-tit img {
  display: block;
  width: 30px;
}

.sec-tit .title {
  margin-left: 10px;
  color: #be3455;
  font-size: 24px;
}

.service_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.service_list li {
  width: 24.11021814006889%;
}

.service_list li a > img {
  width: 98%;
  height: auto;
  border: 1px dashed;
  object-fit: contain;
  border-radius: 10px;
  border: 2px dashed #f9a4a6;
  box-shadow: 1px 1px 5px 1px #c07b7b;
}

.service_list li a > img:hover {
  opacity: 0.7;
}

.sale_sub_list {
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.service_list li > p {
  font-size: 14px;
}

.sale_name {
  display: flex;
}

.sale_name h3 {
  margin-left: 8px;
  color: #be3455;
  font-size: 0.889rem;
}

.sale_name img,
.sale_add_btn {
  display: block;
  width: 20px;
  height: 20px;
}

.sale_add_btn {
  opacity: 0.5;
}

.sale_add_btn:hover {
  opacity: 1;
}

.sale_add_btn img {
  width: 20px;
  height: 20px;
}

.service_list p {
  font-size: 14px;
  text-indent: 0;
  color: #333333;
  text-align: left;
}

.sale_sub_list {
  cursor: pointer;
}

.background_rose {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  left: -120px;
  top: 50%;
  width: 25%;
  transform: rotate(10deg);
}

.background_rose:nth-child(2) {
  left: 85%;
  top: 10%;
  width: 25%;
  transform: rotate(-50deg);
}

.background_rose img {
  width: 80%;
}

/* main_section4 */

.main_section4 {
  width: 100%;
  height: auto;
  color: #fff;
  display: flex;
  align-items: flex-end;
}

.main_section4 .container {
  background: none;
  width: 80%;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff7e91;
  border-radius: 10px;
  overflow: hidden;
}

.photodeem {
  width: 100%;
  height: 100%;
  position: absolute;
}

.photodeem:hover {
  background: rgba(12, 9, 9, 0.2);
}

.photodeem .qutter li:first-child {
  width: 30px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.photodeem .qutter li:nth-child(2) {
  width: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  transform: rotate(90deg);
}

.photodeem .qutter li:nth-child(3) {
  width: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transform: rotate(180deg);
}

.photodeem .qutter li:nth-child(4) {
  width: 30px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  transform: rotate(270deg);
}

.photodeem .qutter li img {
  width: 100%;
  opacity: 0.8;
}

.review_list > div {
  width: 50%;
}

.review_photo {
  position: relative;
}

.review_img a img {
  width: 100%;
}

.review_text_box {
  background: #ff7e91;
  text-align: left;
  position: relative;
}

.texts {
  margin-left: 6.8%;
}
.review_text_box span {
  font-size: 22px;
  font-weight: 500;
  display: block;
}

.review_text_box p {
  font-size: 15px;
  display: block;
  margin: 7.2% 0;
}

.review_text_box p:last-child {
  margin: 0;
}

.more_btn {
  width: 18%;
  display: block;
}

.more_btn img {
  width: 100%;
}

.background_rose2 {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  left: -150px;
  top: 50%;
  width: 30%;
  transform: rotate(170deg);
}

.background_rose2:nth-child(2) {
  left: 85%;
  top: 20%;
  width: 25%;
  transform: rotate(30deg);
}

.background_rose2 img {
  width: 80%;
}

/* main_section5 */
.main_section5 {
  align-items: flex-end;
}

.maiSwiper {
  background: #fff;
  width: 100%;
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_section5 .container {
  width: 80%;
  background: none;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  position: static;
}

.main_section5 .sec-tit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.maiSwiper .swiper-pagination {
  display: none;
}

.maiSwiper .swiper-wrapper {
  width: 100%;
  height: auto;
}

.maiSwiper .swiper-wrapper .swiper-slide {
  width: 23%;
  background: none;
}

.slide_img {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 5px 1px #888888;
  transition: 0.5s;
}

.slide_img:hover {
  transform: scale(1.1);
}

.slide_img img {
  width: 100%;
  display: block;
}

.contents_deem {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s;
}

.contents_deem:hover {
  background: rgba(41, 37, 37, 0.8);
}

.contents_deem .qutter li:first-child {
  width: 30px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.contents_deem .qutter li:nth-child(2) {
  width: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  transform: rotate(90deg);
}

.contents_deem .qutter li:nth-child(3) {
  width: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transform: rotate(180deg);
}

.contents_deem .qutter li:nth-child(4) {
  width: 30px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  transform: rotate(270deg);
}

.contents_deem .qutter li img {
  width: 100%;
  opacity: 0.8;
}

.slide_img .cont_shorcut_btn {
  position: absolute;
  width: 60%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: 0.5s;
}

.contents_deem:hover .cont_shorcut_btn {
  opacity: 1;
}

.background_rose3 {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  left: -50px;
  top: 75%;
  width: 20%;
  transform: rotate(90deg);
}

.background_rose3 img,
.background_rose3_1 img,
.background_rose3_2 img {
  width: 80%;
}

.background_rose3_1 {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  left: 55%;
  top: 0%;
  width: 26%;
  transform: rotate(180deg);
}

.background_rose3_2 {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  left: 90%;
  top: 65%;
  width: 18%;
  transform: rotate(280deg);
}

/* main_section6 */

.main_section6 .form_box {
  width: 30%;
  min-width: 450px;
  padding: 3% 0;
  background: rgba(237, 95, 125, 0.8);
  position: absolute;
  z-index: 500;
  right: 11%;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}

.form_box .sec-tit .title {
  color: #fff;
}

.form_box .sec-tit {
  padding-left: 5%;
}

.forms {
  padding: 0 5%;
  width: 100%;
}

.forms form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.forms fieldset {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
#input1,
#zender,
#study,
#city,
#MBTI,
#input2,
#input3 {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  color: #333333;
  width: 48%;
  margin-top: 13px;
  font-size: 18px;
}

#input3 {
  width: 100%;
}

.checks {
  position: relative;
  color: #fff;
  font-size: 12px;
}

.checkboxs {
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.agree {
  margin-top: 3%;
}

.checks input[type="checkbox"] {
  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.checks input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  font-size: 15px;
}
.checks input[type="checkbox"] + label:before {
  /* 가짜 체크박스 */
  content: " ";
  display: inline-block;
  width: 15px; /* 체크박스의 너비를 지정 */
  height: 15px; /* 체크박스의 높이를 지정 */
  line-height: 15px; /* 세로정렬을 위해 높이값과 일치 */
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.checks.etrans input[type="checkbox"] + label:before {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0;
  opacity: 0.6;
  box-shadow: none;
  border-color: #fff;
  -webkit-transition: all 0.12s, border-color 0.08s;
  transition: all 0.12s, border-color 0.08s;
}

.checks.etrans label {
  line-height: 17px;
}

.checks.etrans input[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "";
  width: 8px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  background: transparent;
  border-color: transparent #fff #fff transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form_btn {
  width: 20%;
  padding: 5px 0;
}
.send_btn {
  width: 100%;
}

.send_btn img {
  width: 100%;
}

.background6 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.background6 .bg_img_6 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.slide6 {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide6 li {
  width: 100%;
  height: 100%;
  position: absolute;
}
.slide6 li img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* main_section7 */
.main_section7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: calc(100% - 80px);
  
  overflow: hidden;
}
.partners_logo {
  width: 100%;
  height: calc(50% - 80px);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3% 0;
}

.main_section7 .container {
  width: 80%;
  height: auto;
  background: none;
  position: static;
  margin: 0 auto;
}

.main_section7 .sec-tit {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.partners_logo_list_01,
.partners_logo_list_02 {
  width: auto;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.partners_logo_list_01 li,
.partners_logo_list_02 li {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners_logo_list_01 li img,
.partners_logo_list_02 li img {
  height: 100%;
  display: block;
}
